<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>This is index page</h1>
  <h2> Welcome to the django 1st template page</h2>
  <a href="index">Index</a>
  <a href="about">About</a>
  <a href="contact">Contact</a>
   <br>

  <!-- Student Name: {{username|upper}} <br>
  Course Name: {{course|lower}} <br>
  City Name: {{city | title}} <br> -->



  {{database.0}} <br>
  {{database.1}} <br>
  {{database.2}} <br>
  {{database.3}} <br>

  <!-- <ul>
    {%for i in  courses%}
      <li>{{i}}</li>
    {%endfor%}
  </ul> -->

<!-- 
  <h1>Filters </h1>
  {{courses | length}} <br>
  {{courses | join:"@"}} <br>
  {{courses | random}} <br>
  {{courses | slice:"1:3"}} <br>
  {{courses | first}} <br>
  {{courses | last}} <br> -->
</body>
</html>